
<div id="userMap">
<div class="content"><a href="p2_sample1.html"><div class="box box1">Step one</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="p2_sample2.html"><div class="box box2">Step two</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="p2_sample3.html"><div class="box box3">Step three</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="p2_sample4.html"><div class="box box4">step four</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="p2_sample5.html"><div class="box box5">step five</div></a></div>
<div class="clearfix"></div>

</div>
